body {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin title-big {
    font-size: 3rem;
    font-weight: 900;
}

header h1 {
    @include title-big();
}

header p {
    font-size: 0.9rem;
}

nav ul {
    font-size: 0.7rem;
}

nav > div {
    font-weight: 900;
}
