@import "./scss-partial/reset";
@import "./scss-partial/colors";
@import "./scss-partial/fonts";
@import "./scss-partial/spacing";
@import "./scss-partial/buttons";
@import "./scss-partial/gen-mixins";
@import "./scss-partial/animations";
